<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse/Iniciar Sesion</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/all.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" th:href="@{img/iconohuella.png}">
  </head>

  <body background="img/iniciosesion.png">
    <div class="wrapper">
        <form class="login">
           
             <div class="mb-3">
                <h3 style="text-align: center;">Pagá a través de MERCADOPAGO</h3>
                <h3 style="text-align: center;">Nuestro alias es xxxx</h3>
                <p style="font-size: 12px; text-align: center;">(Todas las tarjetas de crédito y débito, Pago Fácil,
                  Rapipago, Link, Banelco o desde la APP)</p>
             </div>
             <div class="mb-3">
                <a class="btn btn-secondary" href="https://www.mercadopago.com.ar/">Pagar</a>
               <a class="btn btn-secondary" th:href="@{/UregTienda}">Volver</a>
             </div>
           
         </form>
      </div>
      
  </body>
</html>





