<!DOCTYPE html>
<html lang="en">
    <head>
        <title>REGISTRARSE</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.min.css" >
        <link rel="icon" href="img/iconohuella.png">
        <link rel="stylesheet" href="css/style.css">
        
    </head>

   <!-- estilos cuerpo y formulario  -->
   
   <style>
        body {
        font-family: "Open Sans", sans-serif;
        height: 100vh;
        background: url("img/gatoregistro.png") 50% fixed;
        background-size: cover;
        }

        form#mascotaForm{
        display: block;
        color: black;
        position:absolute;
        text-align: justify;
        top: 20%;
        left: 60%;

        }
    </style> 

    <!-- cuerpo -->
    
    <body >
        
        <div class="wrapper">
            <form id="mascotaForm" action="Registromascota.html" method="post" >
                <legend>REGISTRATE AQUÍ</legend>
                  <div class="mb-3">
                     <label for="NYA">Nombre y Apellido:</label>
                     <input type="text" placeholder="Nombre y Apellido" id="NYA">
                   </div>
                  <div class="mb-3">
                      <label for="email">Correo Electrónico:</label>
                      <input type="email" placeholder="example@gmail.com" id="email" >
                    </div>
                   <div class="mb-3">
                      <label for="contraseña">Contraseña:</label>
                      <input type="password" placeholder="contraseña"  >
                   </div>
                   <div class="mb-3">
                      <label for="contraseña">Contraseña:</label>
                      <input type="password" placeholder=" repetir contraseña "  >
                   </div>
                   <div class="mb-3">
                      <label for="telefono">Telefono:</label>
                      <input type="tel" placeholder="(cod area) Numero" >
                 </div>
                  <input type="submit" value="Continuar"> 
                  <button><a href="Reginicio.html">Volver</a></button>             
            </form>      
        </div>
        
    </body>
</Html>      
          















      